@import "https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap";

* { font-family: "Quicksand", sans-serif!important; }

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(../img/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    --unit: 10px;
    font-size: 15px;

    --primary-base: #0096c7;
    --white: #FFF;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--white);
    text-align: center;
}

@media screen and (min-width: 1000px) {
    h1 {
        font-size: 6rem;
    }
}

h1 em {
    font-style: normal;
    color: var(--primary-base);
}

body.authenticated .not-authenticated {
    display: none;
}

body:not(.authenticated) .authenticated {
    display: none;
}

body:not(.authentication-initialised) .not-authenticated,
body:not(.authentication-initialised) .authenticated
{
    display: none;
}
