.rlcard * {
    b--order: solid 1px red;
}

.rlcard {
    color: #edf0f2;
    font-weight: 500;
    font-size: 0.75rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: 25% 25% 50%;
    width: calc(40 * var(--unit));
    height: calc(30 * var(--unit));
    border-radius: calc(0.8 * var(--unit));
    box-shadow: rgba(0, 0, 0, 0.13) 3px 3px 7px;
    background: linear-gradient(98.06deg, rgb(48, 120, 230) -15.47%, rgb(30, 85, 167) 47.69%, rgb(11, 47, 100) 112.18%);
}
.rlcard header {
    grid-column: 1/2;
}
.rlcard .controls {
    grid-column: 2/3;
}
.rlcard > * {
    grid-column: 1/3;
}
.rlcard h2, .rlcard h3 {
    margin: 0;
    font-weight: 500;
}
.rlcard h2 {
    font-size: 1rem;
}
